* {/*Zerando padrões CSS*/
    margin: 0;
    padding: 0;
    
}


body {
    height: 100vh;/*Altura do [viewport height], definindo em 100%*/
    box-sizing: border-box;/*Definindo border-box para elementos filhos não sairem do elemento pai (img não sai do body)*/
    background-color: #FFFFFF;
    color: #6C548C;
}

a {
    color: #3C2E59;
}

strong.titulo-destaque {
    color:#338C30;
    font-style: italic;/*Atribuindo italico ao texto*/
    font-weight: 500;/*Grossura da fonte (até 600)*/
    
}

.apresentacao{
    display: flex;/*Definindo o display flexível*/
    align-items: center;/*Alinhando os itens ao centro*/
}


/*
esquema de cores:

#6C548C roxo claro
#3C2E59 roxo escuro
#338C30 verde escuro
#5DD959 verde claro
#F2F2F2 branco
*/