@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/*Importando fontes*/

* {

    margin: 0;
    padding: 0;
    overflow: hidden;/*Zerando padrões CSS*/
}

body {

    height: 100vh;/*Altura do [viewport height], definindo em 100%*/
    box-sizing: border-box;/*Definindo border-box para elementos filhos não sairem do elemento pai (img não sai do body)*/
    background-color: #000000;
    color: #F6F6F6;

}

img{
    height:488px;
    width: 550px;
}

footer{
    opacity: 0.5;
}

.titulo-destaque {
    color:#2293fd;
     
}

.apresentacao{
    margin: 10% 15%;
    display: flex;  /*Definindo o display flexível*/
    align-items:center;    /*Alinhando os itens do display flex ao centro*/
    justify-content: space-between; /*Alinhando itens ao longo da linha(enquanto tiver espaço, vai para o lado*/
    /*flex-direction:   row(padrão), row-reverse, column, column-reverse |altera direção de alinhamento*/
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;/*Espaçamento entre itens*/
    
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links{
    display:flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #0ebbe2;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}
